@font-face {
  font-family: 'Lato';
  src: url(assets/Lato-Black.ttf);
  font-weight: 900;
}

* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

/*Header*/

.header {
  justify-content: space-between;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  padding: 0 40px;
}

.logo {
  display: flex;
  justify-content: left;
}

.logo h1{
  color: #ffffff;
  font-size: 25px;
  letter-spacing: -1px;
  font-weight: 700;
}

.logo p {
  color: #f06c64;
  font-size: 25px;
  letter-spacing: -1px;
  font-weight: 700;
}

.header__navigation {
  margin-top: 6px;
}

.navigation {
  display: flex;
}

.navigation-item {
  list-style: none;
  margin-left: 13px;
}

.navigation-item {
  list-style: none;
  margin-left: 14px;
}

.navigation-item a {
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: -0.3px;
}

.navigation-item .item-active {
  color: #f06c64;
}

.navigation-item:not(:nth-child(1))::before{
  content: "·";
  margin-right: 14px;
  font-size: 12px;
  color: #494e62;
}

.navigation-item a:hover {
  color: #f06c64;
  transition-duration: 0.2s;
}

/*slider*/

.slider {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.slider .wrapper {
  display: flex;
  padding: 53px 40px 58px 42px;
  justify-content: space-between;
  align-items: center;
}

.slider__button {
  display: block;
  width: 16px;
  height: 27px;
}

.slider__button:hover {
  opacity: 0.6;
  transition-duration: .2s;
}

.slider__button object{
  pointer-events: none;
}

.button_next {
  transform: rotate(180deg);
}

.slider__content {
  display: flex;
  justify-content: left;
  min-height: 483px;
  width: 800px;
}

.vertical-phone {
  position: relative;
}

.vertical-phone .phone-image{
  height: 458px;
  position: absolute;
  top: 0;
  left: 1px;
  z-index: 10;
}

.vertical-phone .shadow-image {
  position: absolute;
  top: 0;
  left: 1px;
  z-index: 5;
}

.vertical-phone .picture-image {
  position: absolute;
  top: 65px;
  left: 15px;
  z-index: 15;
}

.horizontal-phone {
  position: relative;
}

.horizontal-phone .phone-image{
  height: 458px;
  transform: rotate(90deg);
  position: absolute;
  top: 0;
  left: 436px;
  z-index: 10;
}

.horizontal-phone .shadow-image {
 
  transform: scale(-1, 1) rotate(90deg);
  position: absolute;
  top: 0;
  left: 436px;
  z-index: 5;
}

.horizontal-phone .picture-image {
  position: absolute;
  top: 135px;
  left: 374px;
  z-index: 15;
}


/*services*/

.services {
  display: flex;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services .wrapper {
  padding: 59px 30px 0;
}

.services__top {
  margin: 0 10px;
}

.services__top h2 {
  font-size: 30px;
  font-weight: 900;
  color: #666d89;
  padding-bottom: 2px;
}

.services__top p {
  font-size: 18px;
  font-weight: 300;
  color: #767e9e;
  margin-top: 16px;
  letter-spacing: -0.075px;
  line-height: 30px;
}

.services__items {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: 33px;
  margin-bottom: 42px;
}

.services__item {
  display: flex;
  justify-content: space-between;
  height: 103px;
  width: calc(33.33% - 20px);
  margin: 10px;
}

.item_icon {
  display: flex;
  margin-top: 4px;
  width: 59px;
  height: 59px;
  border: 2px solid #666d89;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.item_text {
  width: 220px;
}

.item_text h3 {
  font-size: 18px;
  font-weight: 900;
  color: #666d89;
}

.item_text p {
  margin-top: 8px;
  font-size: 12px;
  font-weight: normal;
  color: #767e9e;
  line-height: 21.5px;
  text-align: justify;
}